.BorrowerForm *{
    margin:0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
  
}
.BorrowerForm{
    display: flex;
    justify-content: center;
}
.BorrowerForm h1{
    font-size: 4rem; 
    color: rgb(95, 37, 159);
    margin: .7rem;
}
.BorrowerForm .FrndBorrowForm{
    margin: 2rem;
    box-shadow:   rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    ;
    display: flex;
    flex-direction: column;
    justify-self: center;

    width: 50%;
   
}
.BorrowerForm .Bform{
    margin: 1rem;
    padding: 1rem;
    font-size: 23px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
   
   
}

.BorrowerForm .item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
  
}
.BorrowerForm input[type='text'],
.BorrowerForm input[type='date'],
.BorrowerForm input[type='email']
{
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
}
.BorrowerForm .butn{
 width: 100%;
 margin: 1rem;


}
.BorrowerForm .butn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.BorrowerForm .butn button{
    
    width: 200px;
    height: 2rem;
   
    color: white;
    background-color: rgb(95, 37, 159);
    opacity: .8;
    border-radius: 5px;
   
    
    
} 
.BorrowerForm .butn button:hover{
    
    
   
    opacity: 2;
    
} 
.BorrowerForm .butn button:active{
    
    
    background-color: rgb(95, 37, 159);
    opacity: 2;
    
} 
@media screen and (max-width:900px) {
    .BorrowerForm .FrndBorrowForm{
        width: 100%;
     }
    }

@media screen and (max-width:800px) {
    .BorrowerForm h1{
         font-size: 3rem;
    }
    .BorrowerForm .butn button{
       width:170px;
    }
    .BorrowerForm .FrndBorrowForm{
       width: 100%;
    }
    .BorrowerForm .item{
        font-size: 23px;
    }


}
@media screen and (max-width:700px) {
    .BorrowerForm .butn button{
        width:150px;
     }
    }

@media screen and (max-width:400px) {
    .BorrowerForm h1{
        font-size: 2rem;
    }
   
    .BorrowerForm .butn button{
        width:120px;
     }
        
    .BorrowerForm .item{
        gap:1rem;
    }


}