 .LendHome2 *{
    margin: 0%;
 }
 .LendHome2 .container-fluid{
    box-shadow: 3px 15px 20px 15px silver;
    color: rgb(95, 37, 159);
    width: 100%;
    border: none;
    border-bottom: .1rem solid rgb(95, 37, 159);
    
 }
 .LendHome2 .flex1{
    margin: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
 }
 .LendHome2 .imgbg img{
   width:60px;
 }
 .LendHome2 .log{
   text-decoration: none;
   color: rgb(95, 37, 159);
 }
 .LendHome2 .navbar-nav{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 2rem;
    font-size: 1.3rem;
    display: flex;
    gap: 4rem;
  

 }
 .LendHome2 .container{
    margin-right: 6rem;
 }
 .LendHome2 .dropdown-menu NavLink{
    background-color: white;
     
 } 
 .LendHome2 .dropdown-menu{
      font-size:1.3rem ;
      border: none;
      width: 10%;
      box-shadow: 3px 15px 20px 10px silver;
     
 }

 @media only screen and (max-width:1000px) {
  .LendHome2 .navbar-nav{
   display: flex;
   gap: .5rem;
  }
  
}
 